body {
    box-sizing: border-box;
    margin: 0;

}

:root {
    --dominate-color: rgb(253, 230, 128);
}

#container {
    text-align: center;
    margin-top: 50px;

}

input[type=text] {
    /* float: right; */
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    /* border: none; */
    font-size: 17px;
}

.imageContainer {

    display: flex;
    justify-content: center;
    align-items: center;
}

figure {
    /* height: 300px;
    width: 400px; */
    border: 15px solid var(--dominate-color);
    border-radius: 10px
}

.submit {
    font-size: 17px;
    border: 0;
    border-radius: 7px;
    padding: 7px;
    background-color: var(--dominate-color);
}

.submit:hover {
    background-color: rgb(247, 147, 147);
    color: white
}

figure img {
    display: none;
    width: 400px;
    height: 300px;
    background-size: contain;

}

#btn {
    font-size: 20px;
    border: 0;
    border-radius: 7px;
    padding: 10px;
    background: lightcoral;
    color: white;
    font-weight: 600;
}

#btn:hover {
    background-color: var(--dominate-color);
    color: black;

}